<div class="container">
<div class="row">
	<% if user_signed_in? %>
          <div class="search-form">
              <%= form_with(url:search_path, method: :get,local: :ture) do |form| %>
              <%= form.text_field_tag 'search[content]' %>
              <%= form.select_tag 'search[model]', options_for_select({ "User" => "user", "Book" => "book" }) %>
              <%= form.select_tag 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
              <%= form.submit_tag '検索', class: "btn btn-primary" %>
            <% end %>
          </div>
          <% end %>

	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render '/books/form', book: @book %>
	</div>

	<div class="col-xs-9">
		<h2>Users</h2>
		<!--users一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th></th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>

				<tr>
					<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
					<td><%= user.name %></td>
					<td>
					  <p>
					  	 <% if user != current_user %>

					      <% if current_user.following?(user) %>
					        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
					      <% else %>
					        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
					      <% end %>
					      	<% end %>
				      </p>
				    </td>
					<td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
				</tr>

				<% end %>


			</tbody>
		</table>
	</div>
	<!--users一覧 -->
</div>
</div>

